version: 2.1

orbs:
  node: circleci/node@5.0.0
  
executors:
  node:
    docker:
      - image: cimg/node:17.4.0
    working_directory: /tmp

jobs:
  install:
    executor: node
    steps:
      - checkout
      - node/install-packages
  test:
    executor: node
    steps: 
      - run: ls

workflows:
  default:
    jobs:
      - install
      - test:
          requires:
            - install
