version: 2.1

orbs:
  node: circleci/node@5.0.0
  cypress: cypress-io/cypress@1
  
executors:
  node:
    docker:
      - image: cimg/node:17.4.0

jobs:
  install:
    executor: node
    steps:
      - checkout
      - node/install-packages
      - persist_to_workspace:
          root: ./
          paths:
            - ./*
  module-test:
    executor: node
    steps: 
      - attach_workspace:
          at: ./
      - run: npm run test:jest:ci
      - store_test_results:
          path: ./test_reports

workflows:
  default:
    jobs:
      - install
      - module-test:
          requires:
            - install
      # - cypress/run:
      #     requires:
      #       - module-test
      #     start: 'npm run serve'