version: 2.1

orbs:
  node: circleci/node@5.0.0
  cypress: cypress-io/cypress@1
  
executors:
  node:
    docker:
      - image: cimg/node:17.4.0

jobs:
  install:
    executor: node
    steps:
      - checkout
      - node/install-packages
      - persist_to_workspace:
          root: ./
          paths:
            - ./*
  module-test:
    executor: node
    steps: 
      - attach_workspace:
          at: ./
      - run: npm run test:jest:ci
      - store_test_results:
          path: ./jest/results
  build:
    executor: node
    steps: 
      - attach_workspace:
          at: ./
      - run: npm run build
      - persist_to_workspace:
          root: ./
          paths:
            - ./*
  release:
    executor: node
    steps: 
      - attach_workspace:
          at: ./
      - add_ssh_keys:
          fingerprints:
            - "0c:df:17:8e:0c:0d:19:b8:2b:b7:0c:86:82:66:e7:08"
      # - run:
      #     name: Add github.com to known hosts
      #     command: ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: Versioning
          command: npm version patch -m "patch to version %s [skip ci]"
      - run:
          name: Push tag & changes to github.com
          command: git push
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish the package
          command: npm publish


workflows:
  version: 2
  default:
    jobs:
      - install
      - module-test:
          requires:
            - install
      - cypress/run:
          requires:
            - module-test
          start: npm run serve
          wait-on: 'http-get://localhost:9000/'
          post-steps:
            - store_test_results:
                path: ./cypress/results
      - build:
          requires:
            - cypress/run
          filters:
            branches:
              only: main
      - release:
          requires:
            - build
          filters:
            branches:
              only: main
      